*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

.child{
    height: 100px;
    width: 100px;
    transition-duration: 2s;
}

.parent:hover .child{
    width: 100vw;
}
.child-1{
    background-color: purple;
    transition-timing-function: linear;
}
.child-2{
    background-color: darkblue;
    transition-timing-function: ease-in;
}
.child-3{
    background-color: darkcyan;
    transition-timing-function: ease-out;
}
.child-4{
    background-color: yellow;
}
.child-5{
    background-color: darkgreen;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}