<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=cmnt.id%></h1>
    <h1><%=cmnt.name%></h1>
    <form action="/comments/<%=cmnt.id%>?_method=PATCH" method="POST">
        <textarea name="comment" id="" cols="30" rows="10"><%=cmnt.comment%></textarea>
        <button type="edit">edit comment</button>
    </form>
</body>
</html>