<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <% for(let item of comments){ %>
        <h1>author:<%=item.name%></h1>
        <p>comment: <%=item.comment%></p>
        <form action="/comments/<%=item.id%>?_method=DELETE" method="POST">
        <button type="submit">delete</button>
        </form>
   <% } %>
</body>
</html>