<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new product form</h1>
    <form action="/products" method="POST">
        <div>
            <label for="naam">Name:</label>
            <input type="text" id="naam" name="name">
            
            <label for="pic">pic:</label>
            <input type="text" id="naam" name="img">

            <label for="daam">price:</label>
            <input type="number" id="pic" name="price">

            <label for="des">desc:</label>
            <input type="text" id="des" name="desc">
        </div>
        <button type="submit">submit</button>
    </form>
</body>
</html>