<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello from app.ejs</h1>
    <h2> <%= 25+12 %></h2>
    
    <% if(false){ %>
        <h1>true</h1>
    <% }else{ %>
        <h1>false</h1>
   <% } %>
   
</body>
</html>